<!DOCTYPE html>
<html ng-app="buttonClicks">
    <head>
        <title>Button work with ng</title>
        <link rel="stylesheet" href="style.css">
         <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
        <script type="text/javascript" src="script.js"></script>
    </head>
    <body ng-controller="buttonClicksController">
        <button ng-click="displayMessage()">Click here!</button>
        <h1 class="clickButton" ng-bind="Message"></h1>
        
        <button ng-click="displayUL()">Click here for UL</button>
        <ul class="uList"><li>{{li1}}</li><li>{{li2}}</li><li>{{li3}}</li></ul>
    
    </body>
    

</html>